.timetable {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 150px 0 200px;
  position: relative;
  background-color: #fdf5b3;
  color: #715f1e;
  justify-content: space-between;
}

.timetable__header {
  height: 70vh;
  object-fit: contain;
}

.timetable__time {
  object-fit: contain;
  height: calc(100vh - 350px);
  margin-right: 20vw;
}

@media screen and (max-width: 1700px) {
  .timetable {
    padding: 0;
    height: 100vh;
  }

  .timetable__time {
    height: 75vh;
    margin-right: 10vw;
  }
}

@media screen and (max-width: 1300px) {
  .timetable {
    padding: 80px 0;
    height: 100%;
  }

  .timetable__header {
    height: 80px;
    padding: 0;
  }
}

@media screen and (max-width: 750px) {
  .timetable {
    height: calc(100vh - 100px);
    padding: 50px 0;
  }

  .timetable__header {
    height: 80vh;
  }

  .timetable__time {
    object-fit: contain;
    width: 60vw;
    height: 80vh;
    margin-right: 25px;
  }
}