.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  position: relative;
  background-color: #fbe9dc;
  color: #c46017;
  font-weight: bold;
}

.question__bloks {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 300px;
  justify-content: center;
  align-items: center;
}

.question__container {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0;
}

.question__header {
  width: 70vw;
  max-width: 600px;
  object-fit: contain;
  align-self: center;
}

.question__text {
  font-size: 30px;
  line-height: 37px;
  margin: 50px 0 0;
  width: 100%;
}

.question__undertext {
  font-family: "BernhardC", Helvetica, sans-serif;
  margin: 0;
  display: contents;
  font-size: 26px;
  font-weight: 200;
}

.question__text-span {
  font-size: 20px;
  line-height: 37px;
  margin: 30px 0 0;
}

.question__form {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0;
  align-items: center;
  justify-content: center;
}

.question__string {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;
  border: none;
  font-size: 30px;
  align-items: flex-start;
  padding: 0;
}

.question__string-name {
  flex-direction: row;
  gap: 20px;
}

.question__label {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
}

.question__label-input {
  margin: 0 0 20px 0;
}

.question__label-input-name {
  margin: 0;
  align-self: center;
}

.question__span {
  font-size: 21px;
  line-height: 28px;
  font-family: "BernhardC", Helvetica, sans-serif;
  margin: 0;
  font-weight: 200;
}

.question__text-span {
  font-size: 24px;
  line-height: 37px;
  margin: 0;
}

.question__input {
  width: 550px;
  height: 55px;
  border-radius: 3.5px;
  border: .5px solid #c46017;
  font-size: 30px;
  padding: 5px;
  box-sizing: border-box;
}

.question__buttons {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 25px;
  align-self: center;
}

.question__button {
  width: 350px;
  height: 75px;
  background-color: #c35f18;
  font-size: 24px;
  border: none;
  align-self: center;
  border-radius: 3.5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.question__button:disabled {
  opacity: .7;
}

.question__unvisible {
  font-family: inherit;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.question__visible-radio {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.645);
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}

.question__unvisible:checked + .question__visible-radio {
  background-color: #c46017;
}

.question__unvisible:disabled + .question__visible-radio {
  border: 1px solid #c46017;
  background-color: #fbf8ec;
}

.question__unvisible:disabled:checked+ .question__visible-radio {
  background-color: #fbf8ec;
}

.question__unvisible:focus + .question__visible-radio {
    box-shadow: 0 0 5px #f8f7f0;
}

.question__visible-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.645);
  cursor: pointer;
  background-color: #fff;
}

.question__unvisible:checked + .question__visible-checkbox {
  background-color: #c46017;
}

.question__unvisible:disabled + .question__visible-checkbox {
  border: 1px solid #c46017;
  background-color: #fbf8ec;
}

.question__unvisible:disabled:checked+ .question__visible-checkbox {
  background-color: #fbf8ec;
}

.question__unvisible:focus + .question__visible-checkbox {
  box-shadow: 0 0 5px #f8f7f0;
}

.question__other {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  margin: 10px 0 0;
}

.question__link {
  text-decoration: none;
  color: #c46017;
  cursor: pointer;
  font-weight: bold;
}

.question__return {
  font-size: 16px;
  line-height: 37px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: opacity .4s;
  margin: 0;
  color: black;
}

.question__return:hover {
  opacity: .6;
}

@media screen and (max-width: 1700px) {
  .question {
    padding: 100px 0 0;
  }

  .question__bloks {
    gap: 150px;
  }

  .question__container {
    max-width: 50%;
  }

  .question__header {
    max-width: 550px;
  }

  .question__flower {
    width: 290px;
    height: 700px;
  }

  .question__text {
    font-size: 26px;
    line-height: 33px;
    margin: 25px 0 0;
  }

  .question__form {
    margin: 40px 0 60px;
  }

  .question__text-span {
    font-size: 20px;
    line-height: 33px;
  }

  .question__string {
    margin: 0 0 20px;
    font-size: 22px;
  }

  .question__label {
    margin: 10px 0 0 0;
  }

  .question__label-input {
    margin: 0 0 15px 0;
  }

  .question__input {
    padding: 7px;
    width: 400px;
    font-size: 22px;
  }

  .question__button {
    font-size: 24px;
    height: 60px;
  }

  .question__label-input-name {
    margin: 0;
  }
}

@media screen and (max-width: 1300px) {
  .question {
    padding: 80px 0;
  }

  .question__flower {
    width: 210px;
    height: 500px;
  }

  .question__header {
    max-width: 500px;
  }

  .question__text {
    font-size: 20px;
    line-height: 27px;
  }

  .question__text-span {
    font-size: 18px;
    line-height: 24px;
  }

  .question__form {
    margin: 40px 0 0;
  }

  .question__string {
    margin: 0 0 20px;
    font-size: 20px;
    padding: 0;
  }

  .question__label {
    margin: 10px 0 0;
  }

  .question__label-input {
    margin: 0 0 10px 0;
  }

  .question__button {
    width: 180px;
    height: 40px;
    font-size: 18px;
  }

  .question__input {
    font-size: 24px;
    height: 45px;
    width: 300px;
  }

  .question__label-input-name {
    margin: 0;
  }

  .question__return {
    font-size: 14px;
    line-height: 28px;
  }
}

@media screen and (max-width: 800px) {
  .question {
    padding: 60px 0;
  }

  .question__bloks {
    width: 100%;
    gap: 0;
  }

  .question__text {
    font-size: 18px;
    line-height: 24px;
  }

  .question__container {
    max-width: 100%;
    align-items: center;
  }

  .question__header {
    max-width: 400px;
  }

  .question__text {
    font-size: 18px;
    line-height: 23px;
    width: 80%;
    margin: 35px 0 0;
  }

  .question__undertext {
    font-size: 19px;
  }

  .question__text-span {
    font-size: 16px;
    line-height: 23px;
  }

  .question__visible-radio {
    width: 10px;
    height: 10px;
  }

  .question__visible-checkbox {
    width: 10px;
    height: 10px;
  }

  .question__form {
    margin: 30px 0 0;
  }

  .question__string {
    margin: 0 0 15px;
    font-size: 18px;
  }

  .question__string-name {
    gap: 15px;
  }

  .question__label {
    margin: 10px 0 0;
  }

  .question__input {
    height: 45px;
    font-size: 16px;
    width: 200px;
  }

  .question__label-input-name {
    margin: 0;
  }

  .question__buttons {
    gap: 20px;
  }

  .question__button {
    width: 148px;
    height: 45px;
    font-size: 13px;
    margin: 20px 0 0;
  }

  .question__label-other {
    margin: 0;
  }

  .question__string-other {
    margin: 0;
  }

  .question__text-form {
    width: 100%;
  }

  .question__return {
    font-size: 12px;
    line-height: 22px;
  }

}