.info-date {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-date__where {
  width: 100vw;
  height: 100vw;
  object-fit: contain;
}

.info-date__wedding {
  width: 100vw;
  object-fit: contain;
}

@media screen and (max-width: 1700px) {
  .info-date__where {
    height: 100vh;
    max-height: 1300px;
  }
  
  .info-date__wedding {
    height: 100vh;
    max-height: 1300px;
  }
}

@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 900px) {
  .info-date__where {
    width: 100vw;
    height: 100vw;
  }
  
  .info-date__wedding {
    width: 100vw;
  }
}