.dresscode {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 0 150px;
  background-color: #fbe7f2;
  color: #8f3662;
}

.dresscode__header {
  height: 100px;
  object-fit: contain;
  padding: 150px 0 0;
}

.dresscode__description {
  font-size: 26px;
  line-height: 40px;
  width: 40%;
  margin: 60px 0 0;
}

.dresscode__colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  margin: 50px 0;
}

.dresscode__color {
  border: 30px solid transparent;
}

.dresscode__color_var_one {
  border-bottom: 55px solid #2e5123;
}

.dresscode__color_var_two {
  border-top: 55px solid #2e5123;
}

.dresscode__color_var_three {
  border-bottom: 55px solid #2e5123;
}

.dresscode__color_var_four {
  border-top: 55px solid #2e5123;
}

.dresscode__color_var_five {
  border-bottom: 55px solid #2e5123;
}

.dresscode__link {
  text-decoration: none;
  font-weight: bold;
  color: #8f3662;
  cursor: pointer;
}

@media screen and (max-width: 1700px) {
  .dresscode {
    height: 100vh;
    padding: 0;
  }

  .dresscode__description {
    font-size: 28px;
    width: 50%;
    margin: 70px 0 0;
  }

  .dresscode__header {
    height: 90px;
    padding: 130px 0 0;
  }
}

@media screen and (max-width: 1300px) {
  .dresscode {
    padding: 80px 0;
    height: 100%;
  }

  .dresscode__header {
    height: 60px;
    padding: 0;
  }

  .dresscode__description {
    font-size: 20px;
    line-height: 26px;
    margin: 30px 0 0;
    width: 40%;
  }

  .dresscode__colors {
    margin: 30px 0 0;
  }

  .dresscode__cloud {
    width: 600px;
    height: 600px;
    top: -200px;
  }

  .dresscode__birds {
    width: 800px;
    top: 200px;
    left: 100px;
  }
}

@media screen and (max-width: 800px) {
  .dresscode {
    padding: 60px 0 55px;
  }

  .dresscode__header {
    height: 50px;
  }

  .dresscode__cloud {
    width: 400px;
    height: 300px;
    top: -150px;
    left: 0;
  }

  .dresscode__description {
    font-size: 18px;
    line-height: 24px;
    width: 80%;
    margin: 30px 0 15px;
  }

  .dresscode__colors {
    margin: 30px 0 0;
  }
}